<section class="vh-100 pt-5">
  <app-shard-header [word]="path" class="pt-5"  [color]="'#2C3E50'"></app-shard-header>
<div class="form d-flex justify-content-center align-items-center">
    <form class="pro-form pt-4">
    <div class="form-group">
      <input type="text" id="userName" placeholder="userName" required>
      <span class="floating-label">userName:</span>
    </div>

    <div class="form-group">
      <input type="tel" id="userAge" placeholder="userAge" required>
      <span class="floating-label">userAge:</span>
    </div>

    <div class="form-group">
      <input type="email" id="userEmail" placeholder="userEmail" required>
      <span class="floating-label">userEmail:</span>
    </div>

    <div class="form-group">
      <input type="password" id="userPassword" placeholder="userPassword" required>
      <span class="floating-label">userPassword:</span>
    </div>

    <button type="submit" class="btn-submit w-auto">send Message</button>
  </form>
</div>
</section>






