.portfolio-item {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.plus {
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .plus {
  opacity: 1;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 43, 43, 0.395);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.big-image {
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 55vh;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);

  animation: zoomIn 0.3s ease;
}


@media (max-width: 576px) {
  .big-image {
    width: 95%;
    max-width: 90%;
    max-height: 80vh;
  }
}


@media (min-width: 577px) and (max-width: 992px) {
  .big-image {
    width: 80%;
    max-width: 70%;
    max-height: 80vh;
  }
}



@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
