<section class="m-0">
  <div class="footer-top py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 my-4">
          <div class="location">
            <h3 class="text-center text-uppercase">location</h3>
            <p class="text-center">2215 John Daniel Drive</p>
            <p class="text-center">Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="around-web">
            <h3 class="text-center text-uppercase">AROUND THE WEB</h3>
            <div class="icon-links d-flex justify-content-center">
              <a href="" class="p-2 rounded-circle m-2"
                ><i class="fa-brands fa-facebook-f fs-5 text-white"></i
              ></a>
              <a href="" class="p-2 rounded-circle m-2"
                ><i class="fa-brands fa-twitter fs-5 text-white"></i
              ></a>
              <a href="" class="p-2 rounded-circle m-2"
                ><i class="fa-brands fa-linkedin fs-5 text-white"></i
              ></a>
              <a href="" class="p-2 rounded-circle m-2"
                ><i class="fa-solid fa-globe fs-5 text-white"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="about-freelancer">
            <h3 class="text-center text-uppercase">ABOUT FREELANCER</h3>
            <p class="max-w-p text-center mx-auto">
              Freelance is a free to use, licensed Bootstrap theme created by Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom m-0">
    <p class="text-center m-0 py-3 text-white">Copyright © Your Website 2021</p>
  </div>
</section>
