.nav-link{
  width: fit-content;
}
nav{
  background-color: #2C3E50;
  color: white;
}
.bg-trkwaz{
  background-color: #1ABC9C;
}
.navbar {
  background-color: #2c3e50;
  transition: all 0.3s ease;
  padding: 20px 0 !important;
}

.navbar.shrink {
  padding: 5px 0 !important;
  background-color: #1A252F;
}

.navbar-brand {
  transition: all 0.8s ease;
}

.navbar.shrink .navbar-brand {
  font-size: 1.4rem;
}

